<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>6GeIdr6cAht6GU+nzTVjeA==</key>
	<dict>
		<key>6Iv0wsMwvfaV+HwBz3LldCTF292XBzlzBBH6ojS+leg=</key>
		<string>DKh6i6XyOsIbbKN+h5rTQQ==</string>
		<key>73I4VNOu02VxeFsk25YGHw==</key>
		<string>WrInpflwzp30uk6faW6w2A==</string>
		<key>KsyBDh9CDPTsOtnNvsSsEg6UxtQKVAiIgwEykQ9ZALM=</key>
		<string>KaBpO6JM47Miu6vLRw6UBA==</string>
		<key>TCbwxgsFbptV7gtqm1ZFWWehoJfSXKjsmbFJHJs0LiM=</key>
		<string>NOAN0VULPadX7UHZtVuY+g==</string>
		<key>VgU8drMItkY+pox6r0U/iA==</key>
		<string>6hTnnZWcl2iuxxO198sehg==</string>
		<key>jP2rLfOaIzvMelCNmVfGUuxMI4+O/LUk8TbVA4twu1A=</key>
		<string>NOAN0VULPadX7UHZtVuY+g==</string>
		<key>jpbHI5bpPuFMnj9FBOKm1A==</key>
		<string>lxMAUXNFrYg6KR5iJhCR5SEvIn6n9BIxJKX8erb6UfE=</string>
		<key>qsOmsPv4gRIsS1HpUFvTRQ==</key>
		<string>NOAN0VULPadX7UHZtVuY+g==</string>
	</dict>
	<key>6T5mpsUmwGuaKW1oULYJUA==</key>
	<dict>
		<key>WbeGuSaJqWlyLE7rBV2hIw==</key>
		<string>iOn3WRmaeDns9AlPQpsHC4BHjPADXuUuGJHNTSestTAnzgvD1NSro4gcnaq0ntxv/CMeBz6bDbjt19c/8qj+fw==</string>
		<key>ex7H70cz+SAZ9TL1t4u3ZQ==</key>
		<string>iOn3WRmaeDns9AlPQpsHC4BHjPADXuUuGJHNTSestTAQ5uV+UifW7FN37qRJfJW8</string>
		<key>npfs0pINQimLgA4vS/icYw==</key>
		<string>qZugYNe7w6vy5Hqua7uTFg==</string>
		<key>ybKODJFZaJzj9kgu+59U6g==</key>
		<string>TSE8BBV+3VhZXWIphvjop0LslvV+GWRebA6KC+22c/0pqCQjpOKYLU0tOeyaWxMu</string>
	</dict>
	<key>7Ozw7sQ583LUuFHuS4o2sA==</key>
	<dict>
		<key>7IIYEGp4b+rOASR1zvu5jJh/vEF5h3H8hyW8sQMuCWQ=</key>
		<string>Dp6cBtjzfVJs58RbSHWTcQ==</string>
		<key>EB51XNq/UnkpRmaoQfTw/jatfOlnC8luYTYFETU1A2k=</key>
		<string>ssTIgWjrWR5/MV6GC/+OkA==</string>
		<key>LgO4xzOV8aoQeIVxLzRrtg==</key>
		<string>3yrkUYScCuF0be6ib9YhIQ==</string>
		<key>TTeymTI9rty+kRR8R9DL/w==</key>
		<string>WInWAmelutst5jsBuvXbMGH8goGNIjRl02NEXv08c317lswYYpIpJhD3z/sn5vNe</string>
		<key>nULVD1xWWI6LLb8Vjhtb27SKrbOgK0ZrvNfdfy1VhJo=</key>
		<string>xcOqj+qsbNYjey2GP9qtGA==</string>
		<key>tJ61wJqEZtrSER3RHDOlDg==</key>
		<string>ouidawUgaTld6OZbIgKiVg==</string>
		<key>y8rNV2cW1mb4jRvlnxjQOw==</key>
		<string>7kc7pSw9LeMwH2BIdQYnWA==</string>
	</dict>
	<key>Bb1doWipXECf0tbXcUrNhg==</key>
	<dict>
		<key>/DbGW8usI8mzNi0kA0Bp5jQHhncTO/7FLC8VexOoeak=</key>
		<string>+PuWkejK9Qxv4Wc6ltYkqupBuNfFsz4QefLL+RYkoYA=</string>
		<key>6nz81bZlBOTMkMQAbeRDbbm1byr38A4ZlXatPTl2Yew=</key>
		<string>h7Jra6C9U6c3mLQ88+EJYgpxLu0Qv0gpjI/oaraJECU=</string>
		<key>Kt1GNGf6G81DYxrTL6krgUEsPK6yMqBTqBXOnl4kcx8=</key>
		<string>h7Jra6C9U6c3mLQ88+EJYgpxLu0Qv0gpjI/oaraJECU=</string>
		<key>OghdkTVncGd97+KhglGcDc7Ikox6lNFyf0+JmudCUc0=</key>
		<string>D3Vdm579pVBdgSI2EREyLQ==</string>
		<key>UxoRRCLZ3kiGZcd6sjrGdiRjfaeYx6GNKs2jY6RPsZc=</key>
		<string>h7Jra6C9U6c3mLQ88+EJYgpxLu0Qv0gpjI/oaraJECU=</string>
		<key>xx89zbf0kDVPRl1wv94a/g==</key>
		<string>8iLbyJ1idRzkqGZxzrm34fA1NGxRTbltq/J3evoc8Nc=</string>
	</dict>
	<key>KbvtxD6h20WMiQO/xZvrSw==</key>
	<dict>
		<key>KlnzytjUvZDOaBIS38oonw==</key>
		<string>jvKw3BybrQR+SZt8nt0+hL47bPiLLabiXV6d0970ZrQ=</string>
		<key>VYDJUMW1+tgZxQHFuUckAQ==</key>
		<string>NOAN0VULPadX7UHZtVuY+g==</string>
		<key>XVAmTUoIPtTZOFUFQc5uTw==</key>
		<string>eVwvlCwPoO7qiN1atmJt79U4fXs86JSBQraH7ght+yY=</string>
		<key>lvnwD7+CDEG8JMM3FAOcfg==</key>
		<string>NOAN0VULPadX7UHZtVuY+g==</string>
	</dict>
	<key>NGbKYx1dBrz4c+6adjKqzqiQh9wsFAzVaWWMzhXcxuk=</key>
	<dict>
		<key>EMkBl4kNM77dkxmy09TjFEKGpOVznMCNGYus7m+2+r8=</key>
		<string>jzbe3J/CNV2BuQcijnZb2NtfjQFLj3Xq9i2M0usKDrL3qoSCNSygJ58litQnuvtl</string>
	</dict>
	<key>NGz0H/VszPX6pF9cFSXby1KArHx8s0WLkd+ZzwF0BFA=</key>
	<dict>
		<key>+g0+ABhA13e6qoT13lddaiuP0M5VJJ6wlOsdx1bBpns=</key>
		<string>90mgpvAJ2pSPz6RlWJc5c/zT/kJ5fJ29mnB5dxAhVZ4=</string>
		<key>/Wpl7ARtJSLNgOHQyiiQjguYgW6iAFfE/30Mxg04jWQ=</key>
		<string>CmrZIZ1MSF3zdeD61M8IakqkEaMXfZ6d0UlyFfnlz6/jD7Vz8ExZbFgtB1kRcxeO</string>
		<key>0U0SR4ZymHvpMJ0w1B5VmUYaQj4CtH2wOTv/G3856xk=</key>
		<string>s3jW3JyHVTvtnRyTpKwT2K7iUqQnwuRblWTQrEFc1ZX+Utc/lPaRFjrswav7Tskt</string>
		<key>1zT4Fls8HmVnwrbT6O/9pvdeo7HgwxKbfyIi6Kv89GQ=</key>
		<string>s3jW3JyHVTvtnRyTpKwT2FN5y/11pHWFp/tJTz5n4mX7Blx9T9PuSWLCkbaiyQHB</string>
		<key>LnMQPDYSlGnb3vuPAksNryHvPeIvGqLrnbcNwfpRSto=</key>
		<string>eztyIpCxWvRdFvRj0PRHFnnnVcP1p7O1k2aBeFdux2o=</string>
		<key>P8wHyoS6vRn/VqVRbGnnwUuatlHECRxh0+67mLVAvhk=</key>
		<string>CIHovNAKDIGGuSMOsbfq7RqB8DPxG44l1a3xLxJVhWTAccEdTI986EVr9MYO5F6x</string>
		<key>RqyS5EaiJKJVnrCB2pPi09Vjm2FZAnN8OxFC+WZ8orY=</key>
		<string>s3jW3JyHVTvtnRyTpKwT2G1O/Wb+fGRJv57hSSkT3gblVL8TRrM68cSejFw3hJFp</string>
		<key>Ug1rFJDR+EZNElp6rDevMA==</key>
		<string>90mgpvAJ2pSPz6RlWJc5c2pQzJIUbnoqlBp6lxjdvJE=</string>
		<key>fcyJw6Hu8429UcZ3E5YPv0ZdolRpmkZEVE7t9Zfewk4=</key>
		<string>/5/SnG3F9xzM+BFE7NG/xKmX9JxHlTX//xV7h6OKPAb3RIEg3MCEGaLvzoHvrv0l</string>
		<key>jA20eB0JqZiUlCvqWvBBsoJznxUY4Eeb69y/yc5CYHnZcOJznpdnn5bLvLU2cv1+</key>
		<string>rZkP763zwB0+pY+QyyVQ1w==</string>
		<key>pmn4wdk6NbGafIq1h+cDE03RTc+lf8HaNKCk4YWK2ls=</key>
		<string>s3jW3JyHVTvtnRyTpKwT2C9XUMgkNS0KK9eCTxCnmWj4bpK5vINBoltDknjpIpqc</string>
		<key>zvCJu4l5Uv2m3xr4KwWbBORvQUg+7FlC8Vmp7CCdsYc=</key>
		<string>s3jW3JyHVTvtnRyTpKwT2CH5vRKuulBkNY1I6RwBcG8xCedmdr/DgEVG3fjscDlC</string>
	</dict>
	<key>NxgaWARVU6tYlarxdXnNvgEwHVcFrb3BA6z1sQuX/wE=</key>
	<dict>
		<key>7kc7pSw9LeMwH2BIdQYnWA==</key>
		<string>LQrUMfGq4qWyyp6h+ZrvJg==</string>
		<key>Ec3cRboYwhUbsSusqiguTQ==</key>
		<string>Ec3cRboYwhUbsSusqiguTQ==</string>
		<key>UCmK5pplflaE7M0K60w96A==</key>
		<string>XQQjy7B43DdVWMudg0pr1g==</string>
	</dict>
	<key>SDK_DATE</key>
	<string>2019-05-07 16:41:50.724</string>
	<key>_GAME_NAME_AT_ENCRYPT_</key>
	<string>twsd</string>
	<key>n4St3mzFm8m7DYpN44M69A==</key>
	<dict>
		<key>TflfDASmwXYV52PJUt9LEXVt0o0Z/IKqT7neZQGQR+Q=</key>
		<string>0Kczhiwkqv0hJWnPMRbl3g==</string>
		<key>ZfdGv6pnagCbvF1TzFCZIo7SHZZP+For2REWlf/qcSQ=</key>
		<string>VrHzyCtOGwNIc60L+IrwGUlV7MFdYHii4W9q2sZybYg=</string>
		<key>ZfdGv6pnagCbvF1TzFCZIoxa6C0EdiLl4bSriMkBbiU=</key>
		<string>TIGqHu3Kp8pb3YWqDBgVGQdlKi4yT2pMMG1KpFHRbEEqQm7mlaSYS1K5yMsKrPpYPPVa04NYlJg54UnvruQYdqV/kbSnLrG5QrHGem2jC/KQUHq/PywPTDrtdjcyIz0sHd+9mmDFI3OW70lNL1oFP3IKfUPDNdoY5GGhGBTYRMf7lzhYOjHSrN0nUOIzkmRhfiCkcooj+e0Zf1XiYD3ddPlKu+zpRdSX1Dzo1VYNOsy4PefUoGlRJq12zj1DyDXX4cBVS5fCKMeBo/+/8xsxEtgq0g7YE3jC36qbUkvg3Xw=</string>
	</dict>
	<key>uUVnZCwOyNxU/Zi3L5hb1w==</key>
	<dict>
		<key>0qIxMNq9J6etlwyYgdXmHC69UpTZskqlp3NkOe1ROfk=</key>
		<string>dSeZ7QHrqO66THM+ghG7bg==</string>
		<key>6mh9UZQGGaVlObvIHlWpR/w5fnuYOMon04MlGqM9O3A=</key>
		<string>EPp8kq+UJeJJwwnMZI8o3U/hETFavmInTwW/hHnx1Ks=</string>
		<key>7TzK3o1WhQJSPH8GQyNa3UaiDxCtmS6yavfxXdTagLg=</key>
		<string>CGeHcpCexc3ufcj/AB65fA==</string>
		<key>8qWn1G7H4pIKDVDAbGdO5w==</key>
		<string>EPp8kq+UJeJJwwnMZI8o3U/hETFavmInTwW/hHnx1Ks=</string>
		<key>CLYcSAcmLMtankju70IAIltsyOwPvPjXt4h/ym27hGE=</key>
		<string>h9wQAnyZ7RGAUPkt3xlDqQ==</string>
		<key>Dp6cBtjzfVJs58RbSHWTcQ==</key>
		<string>h9wQAnyZ7RGAUPkt3xlDqQ==</string>
		<key>PcmS9OJGe/+EtOCPlFyp4T1BRfSupDYIhmvZx5vlDS4=</key>
		<string>EPp8kq+UJeJJwwnMZI8o3U/hETFavmInTwW/hHnx1Ks=</string>
		<key>QSp9H7+GU9SgVrMMDv7omA==</key>
		<string>S11PMBv7T3V8/r0JNtPoug==</string>
		<key>TzXWUZaOYWCYQnQ/9dPLvg==</key>
		<string>EPp8kq+UJeJJwwnMZI8o3U/hETFavmInTwW/hHnx1Ks=</string>
		<key>VezXwVV0b+mCMvH8j4xpe19PvpquZLYSwPdewmkrH3U=</key>
		<string>S11PMBv7T3V8/r0JNtPoug==</string>
		<key>aIt7b1U6BVVjX4TCWW5E2PSPaBfBQZCPYJv5n4a0EHQ=</key>
		<string>EPp8kq+UJeJJwwnMZI8o3U/hETFavmInTwW/hHnx1Ks=</string>
		<key>dTv5qi+alnzmqQqmP8jGnQFU6qyJhqbR/oCP0CGTJxo=</key>
		<string>3yrkUYScCuF0be6ib9YhIQ==</string>
		<key>l1yw3sheyVaTdVl36jLN7w==</key>
		<string>CGeHcpCexc3ufcj/AB65fA==</string>
		<key>l6+mx2BNv4PP03QPjQ2jwQ==</key>
		<string>EPp8kq+UJeJJwwnMZI8o3U/hETFavmInTwW/hHnx1Ks=</string>
		<key>tUdCE7pNqhdSVgmUU6GGLPRjPcilQxDPMozNaQI0RkM=</key>
		<string>MCjtY69fAC2K0pfAdqam3Q==</string>
	</dict>
	<key>xZiGgIwGZEn6OxKYXjn/auFQ3+svtdpMTnezvi3r0kc=</key>
	<dict>
		<key>/kfg9omGhhNmcv/Duq5hXpEjAViwka1hYFhiM+lpc2Q=</key>
		<string>rxyeNWU3VzWE4P39GEn9i79InG60PQGfQbSDl2YBRZE=</string>
		<key>1DgNm7SJBK98K8muauG5O5sLfGzm8xZPiB+A0lYfJuU=</key>
		<string>ErUuYAphU4VP4vyWPYv24g==</string>
		<key>XsdiFGKbnKUWCpij9dof+RJvMOSMqXlBbuQmhWL53e4=</key>
		<string>SHFdPM2y9D5ktUfM/FxFdQ==</string>
		<key>de1W66a1+HAvAVcNPFkbMfUjDBwlFR4fk+cYsUQFxf0=</key>
		<string>PSe0bNfbMbiILJ3Dq0xDDQ==</string>
		<key>huec2+6CTFM4D7YGgago4g==</key>
		<string>hjnPR1BfnL3+VuXfBFkKfz6yYT2+qmNX6NmZWX6Zspx8/Zji95Wqm2zeDOSVe8MF</string>
		<key>o5/g2vBPN/qZbx3SPsQKCufrcda+fqFtgaaDQNO1j+g=</key>
		<string>ovbTxNQdBHSeexczHpb7Ng==</string>
		<key>pjUstUr7yGFEjOS6qrVRBx94+1Rvl5YKw/zpaTL+9bc=</key>
		<string>lczvQfDKE2MRGqvzc68HJg==</string>
		<key>sz3Jyk9Q0rEAdq1u9h1jravwvzlRNtT85+WGMBQieCg=</key>
		<string>86+q3vS3hl7PhYEZeUFuvg==</string>
		<key>w/a8WsLsJA5yGVJ+NfnBSkT2dXwDyPm1Aux+5Xb1qvxskf8Zd70vd4RGieXXSkeg</key>
		<string>ItW195gxMofNORu39WlbXQ==</string>
		<key>xfR3llD6cPWHJqwqzx7QKPYOXe4G00O0JS5Ma8BcHII=</key>
		<string>Fg2fEpJBJbXnLgTWB1rhKg==</string>
		<key>xn4qp1mKtFPd4JUbh3AVig==</key>
		<string>xcOqj+qsbNYjey2GP9qtGA==</string>
	</dict>
	<key>xvHjndr9iDXtf67iKAzPoD1yuAaPX4eQ00diUdemRNs=</key>
	<dict>
		<key>7rL/Lg2m3jtLL9BHs/oonQ==</key>
		<string>3yrkUYScCuF0be6ib9YhIQ==</string>
		<key>DpwRS3hned1l7sofPm994w==</key>
		<string>dSeZ7QHrqO66THM+ghG7bg==</string>
		<key>tt+lwJgb6tJPrVHeY11L5Q==</key>
		<string>MCjtY69fAC2K0pfAdqam3Q==</string>
	</dict>
	<key>yWKg0KTP7H+Zb7VIzt5jy8JacSp1LCZp6KmiP1ePA64=</key>
	<dict>
		<key>5tNj65BTM0JD6gQmH3XVyQ==</key>
		<string>09BtcWkImZVGs1csuHdAdMo3j6SPNn5QB/ctSSZeNQsFIP2mVVKBAd2hR3UnyD98</string>
	</dict>
</dict>
</plist>
